/* VARIABLES */
$primary-color: #ff8300;
$text-color: #0f3250;

/* MAPS */
/* Los maps es un conjunto de estilos dentro de una variable */
$font-weights:(
    "regular": 400,
    "mediun": 500,
    "bold": 700
);

$mobile: 800px;